.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Điều này giúp giữa ảnh ở giữa trang */
}

.loading-image {
  animation: spin 2s linear infinite;
  /* Thiết lập animation với tên là "spin", thời gian 2 giây, linear và vô hạn lặp */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    /* Góc quay từ 0 độ */
  }

  to {
    transform: rotate(360deg);
    /* Góc quay đến 360 độ, tạo hiệu ứng quay đầy đủ vòng */
  }
}