.quantity-badge-order {
  position: absolute;
  background-color: orange;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  margin-top: -105px;
  margin-left: 78px;
}

.time-line .scrollbar-container {
  overflow-x: auto;
}

.time-line .scrollbar-container::-webkit-scrollbar {
  width: 3px !important;
  height: 10px !important;
}

.time-line .scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206) !important;
}

.time-line .scrollbar-container::-webkit-scrollbar-button {
  display: none !important;
}

.time-line {
  padding-right: 8px;
}

.time-line .MuiGrid-root .MuiTypography-root {
  margin: 13px !important;
}

.profile .MuiContainer-root {
  padding-left: 120px !important;
  padding-right: 120px !important;
}
