.ck-tong-tien {
  font-size: x-large;
}

.ck-phi {
  font-size: 14px;
}

.ck-pttt {
  border-top: none;
  border: 1px solid dimgrey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-ck {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-left: 10px;
}

.quantity-badge {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  margin-top: -95px;
  margin-left: 78px;
}
