.san-pham .MuiButton-root {
  border-radius: 8px !important;
  text-transform: none !important;
  box-shadow: none;
}

.san-pham .MuiButton-root:active {
  box-shadow: none;
}

.san-pham .MuiButton-root:hover {
  box-shadow: none;
}

.san-pham .search-field .MuiInputBase-root {
  border-radius: 8px !important;
}

.san-pham .search-field .MuiInputBase-root:hover fieldset {
  border-color: #F2741F !important;
}

.san-pham .search-field .Mui-focused fieldset {
  border-width: 1px !important;
}

.san-pham2 .search-field .MuiInputBase-root {
  border-radius: 8px !important;
}

.san-pham2 .search-field .MuiInputBase-root:hover fieldset {
  border-color: #F2741F !important;
}

.san-pham2 .search-field .Mui-focused fieldset {
  border-width: 1px !important;
}

.san-pham .filter .MuiSelect-select {
  padding-left: 8px;
  color: #fc7c27;
  font-weight: 500;
}

.san-pham .filter fieldset {
  border: none !important;
}

.san-pham .container {
  padding-left: 20% !important;
  padding-right: 20% !important;
}